<nav class="navbar navbar-expand-lg bg-success">
    <div class="container-fluid">
      <a class="navbar-brand text-danger ms-lg-5 ms-2 fw-bold fs-3" href="#">Deemsys</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ms-2 ms-lg-auto mb-2 mb-lg-0 d-flex justify-content-evenly" style="width: 65%;">
          <li class="nav-item">
            <a class="nav-link text-white text-white active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">About Us</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Services
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Web App Development</a></li>
                    <li><a class="dropdown-item" href="#">Andriod App Developement</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Static Website </a></li>
                </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Contact Us</a>
            </li>
            <button class="btn btn-danger" style="min-width: 150px;max-width: 175px;">Get Quote</button>
        </ul>
      </div>
    </div>
  </nav>
